.git
devspace.yaml
.DS_Store

npm-debug.log*
pids
*.pid*
*.seed*
*.pid.lock*

**/node_modules
**/.gitattributes
**/.gitignore
**/.env.example
**/.editorconfig
**/.styleci.yml
**/.prettierrc.json
.log
LICENSE.md
CHANGELOG.md
README.md